<!DOCTYPE html>
<html>
<head>
	<title>Blockchain App</title>
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="../static/css/back.css">
</head>
<body>
<div id="workarea">
  <div class="position">


  </div>
  <a id="personal" href="http://www.tylermarkpeterson.com">www.tylermarkpeterson.com</a>
</div>
<div class="container">
	<h2 style="color: white; text-align:center; font-size: 200%">List of all transaction</h2><br>
	<table>
		<thead>
			<tr>
				<th>N°</th>
				<th>Username</th>
				<th>Description of transaction</th>
				<th>Filename</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Edy</td>
				<td>cni de edy</td>
				<td>cni.jpg</td>
				<td>2020-10-08</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Emile</td>
				<td>cni de emile</td>
				<td>cni2.jpg</td>
				<td>2020-10-11</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Andre</td>
				<td>cni de andre</td>
				<td>cni3.jpg</td>
				<td>2020-11-02</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	<!--start button, nothing above this is necessary -->
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href=""><span class="spot"></span>Back</a>
        </div>
      </svg>
    </div>
</div>
</body>
</html>